.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
}

.verified {
  font-size: 2rem;
  color: var(--main);
  text-align: center;
  font-weight: 600;
}

.btnWrap {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  a {
    text-decoration: none;
    padding: 0.4rem 0.8rem;
    font-size: 1.2rem;
    border-radius: 100px;
    background: var(--main);
    color: var(--white);
    &.back {
      background: var(--grey);
    }
  }
}
