.btnWrap {
  position: absolute;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
  button {
    padding: 0.8rem 1.8rem;
    font-size: 1.6rem;
    border-radius: 10px;
    background: #333;
    color: #fefefe;
    font-weight: 600;
  }
}
